.rowDiv {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
}

.stDiv {
  border: 1px solid black;
  width: 10px;
  height: 6px;
}

.shapingRow div {
  background-color: lightpink;
}

body {
  display: flex;
}

#rightCol {
  padding-top: 25vh;
  padding-left: 10vw;
}
